<div class="container">
    <div class="heading">
        <a class="btn btn_success"href="/">Home</a>
    </div>
    <div class="form">
        <div class="side_img">

        </div>
        <div class="form_container">
            <form action="/article"method="post">

                <input type="text"name="title"placeholder="Title.....">
                <textarea name="Des"id=" "cols="30"rows="10"placeholder="your post....."></textarea>
                <textarea name="info" id=" " cols="30"rows="10"placeholder="More info"></textarea>
                <button class="btn btn-info"type="submit">Submit</button>

            </form>
        </div>
    </div>
</div>